.tabel{
    color: #000;
    word-spacing: 95px;
}

.border{
    border: 2px solid black;
    border-top: 2px solid #00f;
    color: #fff;
    
    
}
.zwart{
    background-color: #000;
    word-spacing: 89px;
}

.rood{
    background-color: #f00;
    word-spacing: 81px;
}

.groen{
    background-color: #0f0;
    word-spacing: 80px;
}

.blauw{
   background-color: #00f;
    word-spacing: 84px;
}

.wit{
    color: #000;
   background-color: #fff;
    word-spacing: 67px;
}